body {
    color: #1ac550;
    background-color: black;
    font-family: Cascadia Code, monospace;
    font-weight: bold;
}

h1, h2, h3, p {
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
}

h1 {
    font-size: 35px;
}

h2{
    font-size: 25px;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 10px;
}
#start-button {
    background-color: #1ac550;
    color: black;
    font-family: 'Press Start 2P', cursive;
    border: none;
}

#start-button:hover {
    cursor: pointer;
}

#high-score {
    font-size: 20px;
}

#game-over-container {
    /*background-color: #1ac550;*/
    width: 140px;
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
}

#game-over {
    color: black;
    font-size: 10px;
    text-align: center;
}

#gameboard {
    /*position: relative;*/
    /*background-color: aqua;*/
    width: 350px;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*text-align: center;*/
}

.border {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.border div {
    width: 20px;
    height: 20px;
}
.right-border {
    margin-left: 200px;
}
.container {
    display: flex;
    margin-left: 20px;
    /*justify-content: center;*/
}

.filler {
    color: black;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.grid div {
    height: 20px;
    width: 20px;
    font-weight: bold;
}


/*
.tetromino {
    background-color: blue;
}
*/

.mini-grid {
    /*margin-top: auto;
    margin-bottom: auto;*/
    margin-top: 20px;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}
